<head>
	<meta charset='utf-8'>
	<!-- global variables -->

	<script>
		server_adress = "{{server_adress}}";
		server_port = "{{server_port}}";
	</script>

	<!-- libs -->
	<script src="/code/util.js"></script>
	<script src="/code/jquery-2.2.3.js"></script>

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="/style/fonts.css">
	<link rel="stylesheet" type="text/css" href="/style/main.css">
	<title>Matchuper::{{page_name}}</title>
</head>
