<head>
	<meta charset='utf-8'>
	<!-- libs -->
	<script src="/code/jquery-2.2.3.js"></script>

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="/style/fonts.css">
	<link rel="stylesheet" type="text/css" href="/style/main.css">
	<title>{{title}}</title>
</head>
