@font-face {
   font-family: LatoLatin-Thin;
   src: url(/fonts/LatoLatin-Thin.woff);
}

@font-face {
   font-family: LatoLatin-BlackItalic;
   src: url(/fonts/LatoLatin-BlackItalic.woff);
}

@font-face {
   font-family: LatoLatin-Semibold;
   src: url(/fonts/LatoLatin-Semibold.woff);
}

@font-face {
   font-family: LatoLatin-Black;
   src: url(/fonts/LatoLatin-Black.woff);
}

@font-face {
   font-family: LatoLatin-LightItalic;
   src: url(/fonts/LatoLatin-LightItalic.woff);
}

@font-face {
   font-family: LatoLatin-Light;
   src: url(/fonts/LatoLatin-Light.woff);
}

@font-face {
   font-family: LatoLatin-Hairline;
   src: url(/fonts/LatoLatin-Hairline.woff);
}

@font-face {
   font-family: LatoLatin-SemiboldItalic;
   src: url(/fonts/LatoLatin-SemiboldItalic.woff);
}

@font-face {
   font-family: LatoLatin-Regular;
   src: url(/fonts/LatoLatin-Regular.woff);
}

@font-face {
   font-family: LatoLatin-MediumItalic;
   src: url(/fonts/LatoLatin-MediumItalic.woff);
}

@font-face {
   font-family: LatoLatin-BoldItalic;
   src: url(/fonts/LatoLatin-BoldItalic.woff);
}

@font-face {
   font-family: LatoLatin-Bold;
   src: url(/fonts/LatoLatin-Bold.woff);
}

@font-face {
   font-family: LatoLatin-ThinItalic;
   src: url(/fonts/LatoLatin-ThinItalic.woff);
}

@font-face {
   font-family: LatoLatin-HeavyItalic;
   src: url(/fonts/LatoLatin-HeavyItalic.woff);
}

@font-face {
   font-family: LatoLatin-Medium;
   src: url(/fonts/LatoLatin-Medium.woff);
}

@font-face {
   font-family: LatoLatin-Italic;
   src: url(/fonts/LatoLatin-Italic.woff);
}

@font-face {
   font-family: LatoLatin-HairlineItalic;
   src: url(/fonts/LatoLatin-HairlineItalic.woff);
}

@font-face {
   font-family: LatoLatin-Heavy;
   src: url(/fonts/LatoLatin-Heavy.woff);
}

