<!DOCTYPE html>

<html>
	{{> structure/head}}
	<body name="top">
		{{> structure/header}}

		<div id="content">
			{{~#block content}}
			{{/block~}}
		</div>

		{{> structure/footer}}
		<script src="/code/main.js"></script>
	</body>
</html>
